window {
    margin: 0px;
    background-color: transparent;
    font-family: "JetBrains Mono Nerd Font", "Roboto", sans-serif;
    font-size: 16px;
}

#outer-box {
  background-color: #D4D4D4;
  border: 1px solid #BCBCBC;
  border-radius: 10px;
}

#input {
    margin: 20px 30px;
    padding: 5px;
    border: 2px solid #BCBCBC;
    border-radius: 10px;
    background-color: transparent;
    color: #121212;
}

#inner-box {
    margin: 10px 30px;
    background-color: transparent;
}

#entry {
    padding: 5px;
    border-radius: 5px;
}

#entry:selected {
    background-color: #333333; /* Cor de destaque */
}

#text {
  color: #121212;
}

#text:selected {
    color: #D4D4D4;
    font-weight: bold;
}
