window {
    margin: 0px;
    border: 2px solid #5e81ac; /* Uma borda azulada estilo Nordic */
    background-color: #2e3440; /* Fundo cinza escuro */
    font-family: "JetBrains Mono Nerd Font", "Roboto", sans-serif;
    font-size: 16px;
}

#input {
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3b4252;
    color: #eceff4;
}

#inner-box {
    margin: 10px;
    background-color: transparent;
}

#entry {
    padding: 5px;
    border-radius: 5px;
}

#entry:selected {
    background-color: #88c0d0; /* Cor de destaque */
}

#text:selected {
    color: #2e3440;
    font-weight: bold;
}
